:root {
  --main-bg-color: #849a8f;
  --main-color: #000000;
  --header-color: white;
  --header-bg-color: #000000BF;
  --app-header-color: #E6E6E6;
  --highlight-bg-color: #FBF7ED;
  --highlight-color: #000000;
  --control-focused: #efe5e540;
  --control-text-input-color-bg: #FFFFFF50;
  --control-unfocused-color: #0000009e;
  --control-unfocused-bg-color: #FFFFFF10;
  --control-disabled-bg-color: #eaeded;
  --control-disabled-color: #cad2d3;
  --control-readonly-color: #777;
  --button-hover-bg-color: #00000030;
  --namespace-color: #9d0e0e;
  --main-accent-color: #0000000A;
  --main-accent-line: #00000015;
  --main-accent-line-hover: #00000025;
  --main-control-surface-accent-color: #efe5e540;
  --main-control-button-color: #00000020;
  --value-modified-color: #004e64;
  --matching-paren-color: #ffeb00;
  --matching-paren-outline-color: #b6a800;
  --log-message-bg-color: hsl(44deg 38% 89%);
  --log-result-bg-color: hsl(44deg 26% 83%);
  --type-number-color: #015415;
  --type-boolean-color: #d35600;
  --type-string-color: darkblue;
  --type-function-color: #2e3eb4;
  --type-asyncfunction-color: #3f5b71;
  --type-null-color: #a35e5e;
  --type-undefined-color: #9d9d9d;
  --type-key-color: #74006c;
  --type-symbol-color: #ff4f4f;
  --type-error-color: darkred;
  --type-array-color: #535173;
  --type-path-color: #88127D;
  --type-regexp-color: #fe2f53;
  --type-code-color: darkblue;
  --value-focus-color: #0168ff;
  --mode-color: #0c20ff;
  --primary-action-bg-color: #0278e7;
  --primary-action-color: #FFFFFF;
  --main-app-font:  -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue', Helvetica, FreeSans, Arimo, "Droid Sans", Arial, sans-serif;
  --main-app-font-size: 14px;
  --main-mono-space: ui-monospace,		     
    "Cascadia Mono", "Segoe UI Mono",    
    "Roboto Mono",
    "Ubuntu Mono",
    Menlo, Monaco, Consolas,
    monospace;
  --editor-bg-color: hsl(44deg 38% 89%);
  --editor-text-color: #4d6268;
  --editor-gutter-bg-color: hsl(44deg 25% 84%);
  --editor-gutter-color: #333;
  --editor-cursor-color: #000000;
  --editor-selected-bg-color: rgb(255 60 0 / 35%);
  --editor-selected-word-bg-color: #FFFFFF;
  --editor-step-bg-color: rgb(255, 255, 0);
  --editor-active-line-bg: hsl(44deg 38% 84%);
  --editor-active-line-gutter-bg-color: rgb(166 166 166 / 46%);
  --editor-invisible-color: rgba(147, 161, 161, 0.50);
  --editor-keyword-color: #00770c;
  --editor-identifier-color: #191919;
  --editor-constant-color: #859900;
  --editor-numeric-color: #D33682;
  --editor-support-color: #104e8b;
  --editor-function-color: #268BD2;
  --editor-string-color: #2AA198;
  --editor-constant-color: #CB4B16;
  --editor-variable-color: #268BD2;
  --editor-comment-color: #8d7070;
  --editor-storage-color: #073642;
  --editor-illegal-color: #FD1224;
  --editor-illegal-bg-color: rgba(255, 6, 0, 0.15);
  --editor-deprecated-color: #FD1732;
  --editor-deprecated-bg-color: #EEEAE8;
  --editor-regex-color: #D30102;
  --editor-regex-bg-color: inherit;
  --editor-heading-color: #B8012D;
  --editor-heading-bg-color: rgba(191,97,51,0.051);
  --editor-list-color: #8F5B26;
}
