:root {
    --main-bg-color: hsl(186.46deg 28.63% 44.51%);
    --main-color: #0a212d;
    --header-color: #f2f0eb;
    --header-bg-color: hsl(183.33deg 29.51% 23.92%);
    --app-header-color: #f2f0eb;
    --highlight-bg-color: #bc5414;
    --highlight-color: white;
    --selected-bg-color: hsl(40deg 13% 100%);;
    --selected-color: darkblue;
    --control-bg-color: #e2ded4;
    --control-color: #000000;
    --control-focused: hsl(186.15deg 22.29% 65.69%);
    --control-text-input-color-bg: #FFFFFF50;
    --control-unfocused-color: #3e3232;
    --control-unfocused-bg-color: #FFFFFF10;
    --control-disabled-bg-color: #eaeded;
    --control-disabled-color: #cad2d3;
    --control-readonly-color: #777;
    --button-hover-bg-color: #00000010;
    --namespace-color: #ac4302;
    --log-message-bg-color: hsl(0deg 0% 100% / 36%);
    --log-result-bg-color: hsl(186.46deg 3% 73.77%);
    --main-accent-color: hsl(186.46deg 28.63% 44.51%);
    --main-accent-line: #00000015;
    --main-accent-line-hover: #00000025;
    --main-control-surface-accent-color: hsl(186.46deg 22.65% 41.97%);
    --main-control-button-color: #cdc5b4;
    --scrollbar-thumb-color: #00000040;
    --scrollbar-track-color: #00000010;
    --link-color: #002fdc;
    --link-visited-color: #9a00dc;
    --link-bg-color: inherit;
    --link-visited-bg-color: inherit;
    --value-modified-color: #1e52af;
    --matching-paren-color: #ffed1f;
    --matching-paren-outline-color: #928700;
    --type-number-color: #015415;
    --type-boolean-color: #d35600;
    --type-string-color: darkblue;
    --type-function-color: #2e3eb4;
    --type-asyncfunction-color: #3f5b71;
    --type-null-color: #a35e5e;
    --type-undefined-color: #9d9d9d;
    --type-key-color: #74006c;
    --type-symbol-color: #ff4f4f;
    --type-error-color: darkred;
    --type-array-color: #535173;
    --type-path-color: #88127D;
    --type-regexp-color: #fe2f53;
    --type-code-color: darkblue;
    --value-focus-color: #0168ff;
    --mode-color: #8b19cc;
    --primary-action-bg-color: #0278e7;
    --primary-action-color: #FFFFFF;
    --main-app-font: -apple-system,BlinkMacSystemFont,'Segoe UI','Helvetica Neue', Helvetica, FreeSans, Arimo, "Droid Sans", Arial, sans-serif;
    --main-app-font-size: 14px;
    --main-mono-space: ui-monospace,
    "Cascadia Mono", "Segoe UI Mono",    
    "Roboto Mono",
    "Ubuntu Mono",
    Menlo, Monaco, Consolas,
    monospace;
    --editor-bg-color: hsl(42 19% 86% / 1);
    --editor-text-color: #4d6268;
    --editor-gutter-bg-color: hsl(40.8deg 20% 75.49%);
    --editor-gutter-color: #333;
    --editor-cursor-color: #000000;
    --editor-selected-bg-color: rgb(255 60 0 / 35%);
    --editor-selected-word-bg-color: #FFFFFF;
    --editor-step-bg-color: rgb(255, 255, 0);
    --editor-active-line-bg: hsl(44deg 38% 84%);
    --editor-active-line-gutter-bg-color: rgb(166 166 166 / 46%);
    --editor-invisible-color: rgba(147, 161, 161, 0.50);
    --editor-keyword-color: #bc5414;
    --editor-identifier-color: #191919;
    --editor-constant-color: #859900;
    --editor-numeric-color: #D33682;
    --editor-support-color: #104e8b;
    --editor-function-color: #268BD2;
    --editor-string-color: #28726d;
    --editor-constant-color: #CB4B16;
    --editor-variable-color: #268BD2;
    --editor-comment-color: #8d7070;
    --editor-storage-color: #073642;
    --editor-illegal-color: #FD1224;
    --editor-illegal-bg-color: rgba(255, 6, 0, 0.15);
    --editor-deprecated-color: #FD1732;
    --editor-deprecated-bg-color: #EEEAE8;
    --editor-regex-color: #D30102;
    --editor-regex-bg-color: inherit;
    --editor-heading-color: #B8012D;
    --editor-heading-bg-color: rgba(191,97,51,0.051);
    --editor-list-color: #8F5B26;
}