:root {
    --main-bg-color: #2d2d2d;
    --main-color: #d0d0d0;
    --highlight-bg-color: #ffffff59;
    --highlight-color: #fff4e8;
    --selected-bg-color: #0278e7;
    --selected-color: #FFFFFF;
    --control-bg-color: #323232;
    --control-color: #f0f0f0;
    --control-text-input-color-bg: #000000A0;
    --control-text-input-color: #FFFFFF;
    --control-focused: #efe5e540;
    --control-unfocused-color: darkgray;
    --control-disabled-bg-color: #eaeded;
    --control-disabled-color: #cad2d3;
    --control-readonly-color: #777;
    --button-hover-bg-color: #00000030;
    --app-header-color: #b7bbbf;
    --namespace-color: #e9a5a5;
    --main-accent-color: #fffdfc21;
    --main-accent-line: #c77a0b20;
    --main-accent-line-hover: #FFFFFF40;
    --main-control-surface-accent-color: #efe5e51c;
    --main-control-button-color: #FFFFFF40;
    --value-modified-color: #4ac0e0;
    --matching-paren-color: #ffeb0042;
    --matching-paren-outline-color: #b6a800;
    --scrollbar-thumb-color: #FFFFFF40;
    --scrollbar-track-color: #00000010;
    --link-color: #68d9ff;
    --link-visited-color: #e9a5a5;
    --link-bg-color: inherit;
    --link-visited-bg-color: inherit;
    --type-number-color: #ff618c;
    --type-date-color: #75b1e8;
    --type-boolean-color: orange;
    --type-string-color: #abd982;
    --type-function-color: #b1baff;
    --type-asyncfunction-color: #b2b7ba;
    --type-null-color: #a35e5e;
    --type-undefined-color: #9d9d9d;
    --type-symbol-color: #ff4f4f;
    --type-error-color: #f82e2e;
    --type-array-color: #cac8e7;
    --type-path-color: #b18bae;
    --type-key-color: #e456da;
    --type-regexp-color: #fe2f81;
    --type-code-color: #ffe2b7;
    --value-focus-color: #0168ff;
    --mode-color: #a9d5ff;
    --primary-action-bg-color: #0278e7;
    --primary-action-color: #FFFFFF;
    --editor-bg-color: #323232;
    --editor-text-color: #f5f5f5;
    --editor-gutter-bg-color: #3b3b3b;
    --editor-gutter-color: #A0A0A0;
    --editor-cursor-color: #91FF00;
    --editor-selected-bg-color: #ffd39985;
    --editor-selected-word-bg-color: #fff05c40;
    --editor-step-bg-color: rgb(198,219,174);
    --editor-active-line-bg: rgb(255 255 255 / 18%);
    --editor-active-line-gutter-bg-color: rgb(166 166 166 / 26%);
    --editor-invisible-color: #BFBFBF;
    --editor-keyword-color: #eaa666;
    --editor-identifier-color: #d5cfc8;
    --editor-constant-color: #CF6A4C;
    --editor-numeric-color: #c77633;
    --editor-support-color: #47a3ff;
    --editor-function-color: #b8dfea;
    --editor-asyncfunction-color: #eee2b4;
    --editor-string-color: #abd982;
    --editor-constant-color: #CF6A4C;
    --editor-variable-color: #009ACD;
    --editor-comment-color: #BC9458;
    --editor-storage-color: #A52A2A;
    --editor-illegal-color: #FFFFFF;
    --editor-illegal-bg-color: rgba(255, 6, 0, 0.15);
    --editor-deprecated-color: #FD1732;
    --editor-deprecated-bg-color: #EEEAE8;
    --editor-regex-color: #fe2f53;
    --editor-regex-bg-color: #df62b1;
    --editor-heading-color: #B8012D;
    --editor-heading-bg-color: rgba(191,97,51,0.051);
    --editor-list-color: #8F5B26;
}
